*.o
*.so
*.root
*.log
*~
*.dataset
*.session.xml
.*.swp
src/wana_dict.*
src/stana
src/vbana
src/lumi_calc
src/events_calc
utils
.consign
.sl53_gcc432
nohup*
runlists/run12_mc*
runlists/run11_mc*
runlists/run12_QCD*
